@media screen and (max-width : 380px) {
   body, html {
	background-image: url(/images/fondrwd.jpg) !important;    
	/*background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; */
    }
}